@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
    --font-sans: 'Public Sans', 'sans-serif';
    --breakpoint-xs: 460px;
}

@import "tailwindcss";